#include "Base.xcconfig"

RAILWAY_API_BASE_URL = REQUIRED_RELEASE_RAILWAY_API_BASE_URL
OVERPASS_API_BASE_URL = REQUIRED_RELEASE_OVERPASS_API_BASE_URL
OSM_STACK_BASE_URL = REQUIRED_RELEASE_OSM_STACK_BASE_URL
OSM_MAPS_API_KEY = REQUIRED_RELEASE_OSM_MAPS_API_KEY
AUTH_CLIENT_ID = REQUIRED_RELEASE_AUTH_CLIENT_ID

#include? "Secrets.Release.xcconfig"
